
/* ------------------------ header ------------------------ */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    background-color: Gray;
   	max-width: 1180px;
   	margin: auto;
   	padding: 0 15px 0 15px;
    height: 64px;
    box-sizing: border-box;
}


.header-nav {
	display: flex;
	align-items: center;
	gap: 20px;
}



/* ------------------------ footer ------------------------ */

.footer {
    background-color: yellow;
    height: 50px;
}
